<!DOCTYPE html>
<html lang="en">

<%- include partials/head.ejs %>
    <%- include partials/aws.ejs %>

        <body>
            <div id="wrapper">
                <%- include partials/header.ejs %>
                    <div id="page-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1 class="page-header">Beacon Directions</h1>
                                </div>
                                <div>
                                    <button class="btn btn-primary addBtn" id="addButton">Add</button>
                                    <table id="beaconDirTable" class="table table-striped table-bordered"></table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </body>

</html>

<script>
    var apigClient = apigClientFactory.newClient();
    var contentHTML = '<form id="beaconDirForm"><span class="dirBox"><h4>Previous</h4><select id="inputDirPrev"></select></span><span class="dirBox"><h4>Current</h4><select id="inputDirCurr"></select></span><span class="dirBox"><h4>Next</h4><select id="inputDirNext"></select></span><h4>Direction</h4><select id="inputDirDirection" required><option value="">-</option><option value="1">Straight</option><option value="2">Turn Left</option><option value="3">Turn Right</option></select><h4>Bearing</h4><input type="number" id="inputDirBearing" min="0" max="360" required><h4>Notes (optional)</h4><textarea id="inputNotes" cols="30" rows="3"></textarea></form>';

    loadBeaconDirectionTable();

    async function loadBeaconDirectionTable() {
        showAjaxLoading();
        var beaconDirData = await getBeaconDirectionData();
        $('#beaconDirTable').DataTable({
            data: beaconDirData,
            columns: [
                { data: 'PreviousBID', title: 'Previous Beacon' },
                { data: 'CurrentBID', title: 'Current Beacon' },
                { data: 'NextBID', title: 'Next Beacon' },
                {
                    data: 'DirectID', render: function (data, type, row) {
                        return getDirectionName(data);
                    }, title: 'Direction'
                },
                { data: 'Compass', title: 'Bearing' },
                { data: 'Note', title: 'Notes', width: '15%' },
                {
                    data: 'BDirectionID', render: function (data, type, row) {
                        return '<button class="updateButton btn btn-primary" data-id="' + data + '">Update</button>';
                    }, title: 'Action'
                },
            ]
        });
        hideAjaxLoading();
    }

    function getBeaconDirectionData() {
        return new Promise(resolve => {
            apigClient.typePost({ action: 'getBeaconDirection', type: 'BeaconDirection' }, body, additionalParams)
                .then(function (result) {
                    resolve(result.data);
                }).catch(function (error) {
                    showErrorMsg(error);
                    console.log('Unexpected Error ' + error);
                });
        })
    }

    $('#beaconDirTable').off().on('click', '.updateButton', function (e) {
        var clickUpdateDirBDID = $(this).data('id');
        showAjaxLoading();
        apigClient.typePost({ action: 'getBeaconDirectionById', type: 'BeaconDirection' }, { BeaconDirection: { BDirectionID: clickUpdateDirBDID } }, additionalParams)
            .then(function (result) {
                //Get values from API
                clickedDirData = result.data[0];

                $.confirm({
                    columnClass: 'col-md-6 col-md-offset-3',
                    title: 'Update Beacon Direction',
                    content: contentHTML,
                    onContentReady: async function () {
                        await loadBeaconIDs();
                        $('#inputDirPrev').val(clickedDirData.PreviousBID || "");
                        $('#inputDirCurr').val(clickedDirData.CurrentBID);
                        $('#inputDirNext').val(clickedDirData.NextBID || "");
                        $('#inputDirBearing').val(clickedDirData.Compass);
                        $('#inputDirDirection').val(clickedDirData.DirectID);
                        $('#inputNotes').val(clickedDirData.Note);
                        hideAjaxLoading();
                    },
                    buttons: {
                        cancel: {
                            text: 'Cancel',
                            btnClass: 'btn btn-link',
                        },
                        delete: {
                            text: 'Delete',
                            btnClass: 'btn btn-danger',
                            action: function () {
                                e = this;
                                $.confirm({
                                    columnClass: 'col-md-4 col-md-offset-4',
                                    title: 'Delete Confirmation',
                                    content: 'Are you sure you want to delete the Beacon Direction? This cannot be undone.',
                                    buttons: {
                                        cancel: {
                                            text: 'Cancel',
                                            btnClass: 'btn btn-link',
                                        },
                                        delete: {
                                            text: 'Delete',
                                            btnClass: 'btn btn-danger',
                                            action: function () {
                                                e.close();

                                                showAjaxLoading();
                                                apigClient.typePost({ action: 'deleteBeaconDirection', type: 'BeaconDirection' }, { BeaconDirection: { BDirectionID: clickUpdateDirBDID } }, additionalParams)
                                                    .then(function (result) {
                                                        reloadTable();
                                                        showSuccessMsg();
                                                    }).catch(function (error) {
                                                        showErrorMsg(error);
                                                    });
                                                hideAjaxLoading();
                                            }
                                        }
                                    }
                                });
                                return false;
                            }
                        },
                        save: {
                            text: 'Save',
                            btnClass: 'btn btn-success',
                            action: function () {
                                if (!$('#beaconDirForm')[0].checkValidity()) {
                                    $('<input type="submit">').hide().appendTo($('#beaconDirForm')).click().remove();
                                    return false;
                                }
                                else {
                                    showAjaxLoading();
                                    var updateDirectionPrev = parseInt($('#inputDirPrev').val());
                                    var updateDirectionCurrent = parseInt($('#inputDirCurr').val());
                                    var updateDirectionNext = parseInt($('#inputDirNext').val());
                                    var updateDirectionDir = parseInt($('#inputDirDirection').val());
                                    var updateDirectionBearing = parseInt($('#inputDirBearing').val());
                                    var updateInputNotes = $('#inputNotes').val();

                                    apigClient.typePost({ action: 'putBeaconDirection', type: 'BeaconDirection' }, { BeaconDirection: { BDirectionID: clickUpdateDirBDID, CurrentBID: updateDirectionCurrent, PreviousBID: updateDirectionPrev || 0, NextBID: updateDirectionNext || 0, DirectID: updateDirectionDir, Compass: updateDirectionBearing, Note: updateInputNotes } }, additionalParams)
                                        .then(function (result) {
                                            reloadTable();
                                            showSuccessMsg();
                                        }).catch(function (error) {
                                            console.log(error);
                                            showErrorMsg(error);
                                        });
                                    hideAjaxLoading();
                                }
                            }
                        }
                    }
                })
            })
    });

    $('#addButton').on('click', function () {
        $.confirm({
            columnClass: 'col-md-6 col-md-offset-3',
            title: 'Add Beacon Direction',
            content: contentHTML,
            onContentReady: async function () {
                await loadBeaconIDs();
            },
            buttons: {
                cancel: {
                    text: 'Cancel',
                    btnClass: 'btn btn-link',
                },
                add: {
                    text: 'Add',
                    btnClass: 'btn btn-success',
                    action: function () {
                        if (!$('#beaconDirForm')[0].checkValidity()) {
                            $('<input type="submit">').hide().appendTo($('#beaconDirForm')).click().remove();
                            return false;
                        }
                        else {
                            showAjaxLoading();
                            var createDirectionPrev = parseInt($('#inputDirPrev').val());
                            var createDirectionCurr = parseInt($('#inputDirCurr').val());
                            var createDirectionNext = parseInt($('#inputDirNext').val());
                            var createDirectionDir = parseInt($('#inputDirDirection').val());
                            var createDirectionBearing = parseInt($('#inputDirBearing').val());
                            var createInputNotes = $('#inputNotes').val();

                            apigClient.typePost({ action: 'createBeaconDirection', type: 'BeaconDirection' }, { BeaconDirection: { CurrentBID: createDirectionCurr, PreviousBID: createDirectionPrev || 0, NextBID: createDirectionNext || 0, DirectID: createDirectionDir, Compass: createDirectionBearing, Note: createInputNotes } }, additionalParams)
                                .then(function (result) {
                                    reloadTable();
                                    showSuccessMsg();
                                }).catch(function (error) {
                                    showErrorMsg(error);
                                });
                            hideAjaxLoading();
                        }
                    }
                }
            }
        });
    });

    function getDirectionName(id) {
        var directionDir;
        if (id == 1)
            directionDir = "Straight";
        else if (id == 2)
            directionDir = "Left";
        else if (id == 3)
            directionDir = "Right";
        return directionDir;
    }

    async function reloadTable() {
        var currentPage = $('#beaconDirTable').dataTable().api().page.info().page;
        var newData = await getBeaconDirectionData();
        $('#beaconDirTable').dataTable().api().clear().rows.add(newData).draw();
        $('#beaconDirTable').dataTable().api().page(currentPage).draw('page');
    }

    function loadBeaconIDs() {
        return new Promise(resolve => {
            apigClient.typePost({ action: 'getBeacon', type: 'Beacon' }, body, additionalParams)
                .then(function (result) {
                    var beaconData = result.data;
                    //these two are optional
                    $('#inputDirPrev').append($('<option>', { value: '', text: 'None' }))
                    $('#inputDirNext').append($('<option>', { value: '', text: 'None' }))
                    for (index = 0; index < beaconData.length; index++) {
                        beaconId = beaconData[index].BeaconID;
                        $('#inputDirPrev').append($('<option>', { value: beaconId, text: beaconId }))
                        $('#inputDirCurr').append($('<option>', { value: beaconId, text: beaconId }))
                        $('#inputDirNext').append($('<option>', { value: beaconId, text: beaconId }))
                    }
                    resolve(true);
                }).catch(function (error) {
                    showErrorMsg(error);
                    console.log('Unexpected Error ' + error);
                });
        })
    }

</script>